.footer-container {
  background-color: #071E23;
  color: #333;
  padding: 1rem;
  font-family: "Segoe UI", sans-serif;
}


.footer-highlight {
  background-color: #ffd702;
  display: flex;
  justify-content: center;
  
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.highlight-social a {
  color: #000;
  margin: 0 0.9rem;
  font-size: 1.8rem;
  transition: color 0.3s;
}

.highlight-social a:hover {
  color: #25d366; /* WhatsApp green on hover */
}

/* Main content */
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 8px 0;
}

.footer-logo-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-logo-img {
  width: 180px;
  height: auto;
  margin-bottom: 0.5rem;
}

.footer-logo-section p {
  font-size: 2rem;
  color: #ffd702;
}

.footer-contact-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-contact-section h4 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #ffd702;
}

.footer-contact-section p {
  margin: 0.3rem 0;
  font-size: 1.5rem;
}

.footer-contact-section a {
  color: #007bff;
  text-decoration: none;
}

.footer-contact-section a:hover {
  text-decoration: underline;
}

/* Bottom copyright */
.footer-bottom {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #888;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo-section,
  .footer-contact-section {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .highlight-social a {
    font-size: 1.2rem;
    margin: 0 0.4rem;
  }

  .footer-logo-img {
    width: 150px;
  }

  .footer-contact-section p,
  .footer-logo-section p {
    font-size: 1.8rem;
  }
}



.footer-contact-section {
  padding: 50px 20px;
  background: #071E23;
  text-align: center;
}

.footer-contact-section a {
  color: #ffd702;
  text-decoration: none;
}
.footer-contact-section p{
  color: #ffd702;
}

.whatsapp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.whatsapp-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.whatsapp-link a:hover .whatsapp-icon {
  transform: scale(1.2);
}

.icon,
.email-icon {
  color: #ffd702;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.whatsapp-number {
  /* color: #ffd702; */
  margin-left: 5px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .whatsapp-link {
    flex-direction: column;
  }

  .whatsapp-number {
    margin-left: 0;
  }
}
