.blog-section {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.blog-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #ffd702;
}

/* .blog-heading span {
  color: #ffd702;
} */

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.blog-card {
  width: 100%;
  max-width: 320px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
  text-align: left;
}

.blog-date {
  font-size: 1rem;
  color: #888;
  margin-bottom: 5px;
}

.blog-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-summary {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 15px;
}

.blog-readmore {
  color: #d4aa00;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

/* Responsive Design */
@media (min-width: 600px) {
  .blog-card {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .blog-card {
    width: 30%;
  }
}
